body {
    background-color: white;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 50px;
    
}

.img_nav {
    margin-right: auto;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

a{
    text-decoration: none;
    color: gray;
    font-size: 20px;
    margin-left: 50px;
    
}

:hover h_link{
    color: black;
}


.Rq {
    color: gray;
    font-size: 20px;
    margin-left: 50px;
    padding: 12px;
    border-radius: 5px;
    border: solid gray 1px;
    background-color: rgba(255,255,255,0.0);
    
}



.flex-container-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 35PX;
    width: 100%;
}

.banner-L{
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 55%;
    font-size: 1.5em;
    
}

.banner-L h1 {
    font-size: 2.5em;
}

.banner-R{
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 50%;
    font-size: 1.2em;
}

.banner-R img {
    width: 75%;
    padding-right: 75PX;
}

.banner-L button {
    background-color: black;
    padding: 10px;
    color: white;
    border-radius: 2.5px;
}

.flex-logo{
    display: flex;
    width: 85px;
    height: 20px;
    gap: 170px;
    padding-top: 50px;
    padding-bottom: 50px;

}