body {
    background-color: white;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 50px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    
}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
      margin-top: 50px;
    }
  }

a{
    text-decoration: none;
    color: gray;
    font-size: 20px;
    margin-left: 50px;
    
}

#img {
    margin-right: 50px;
}

#Rq {
    border: solid 0.5px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}