body {
    background-color: white;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 50px;
    
}

.img_nav {
    margin-right: auto;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

a{
    text-decoration: none;
    color: gray;
    font-size: 20px;
    margin-left: 50px;
    
}

:hover h_link{
    color: black;
}


.Rq {
    color: gray;
    font-size: 20px;
    margin-left: 50px;
    
}

.banner-R {
    /* Vector */

margin: 0 auto;
width: 560.38px;
height: 459.74px;

background: #B9FF66;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}

.flex-container-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

